/*****************************************************************************
 Colors
******************************************************************************/
$color-343a40 : #343a40;
$color-adb5bd : #adb5bd;
$color-fff:#fff;
$color-069: #069;
$light-shadow:rgba(0,0,0,.05);
$light-opacity:rgba(0,0,0,.1);
$height-nav:4rem;